<ion-content [fullscreen]="true">


    <div [attr.data-theme]="theme()" class="main-container ion-padding"><!-- Start of container -->

  

  <ion-fab *ngIf="showEmailPassword" vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="showEmailPassword()" size="small">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="close()" size="small">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="ion-hide-md-up" style="height: 25vh;">
  </div>

  @if (!showEmailPassword()) {
  <ion-row class="row-buttons-providers">
    <ion-col size="12">
      <ion-button class="btn-login" expand="block" color="dark" (click)="loginGoogle()">
        <ion-icon slot="start" src="assets\images\logos\Google__G__Logo.svg"></ion-icon>
        <!-- {{ 'LoginGoogle' | translate }} -->
        Login con Google
      </ion-button>
    </ion-col>
    <ion-col size="12">
      <ion-button expand="block" fill="clear" (click)="showEmailPasswordTrue()">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <!-- {{ 'LoginEmailPassword' | translate }} -->
        Login con correo
      </ion-button>
    </ion-col>
  </ion-row>
  } @else {
  <div class="div-container-forms">

    @if(showResetPassword()) {

    <ion-segment value="resetPassword" class="ion-margin-bottom">
      <ion-segment-button value="resetPassword">
        <!-- <ion-label> {{ 'ResetPassword' | translate }} </ion-label> -->
        Restablecer contraseña
      </ion-segment-button>
    </ion-segment>

    <form [formGroup]="formResetPassword" (ngSubmit)="resetPassword($event)">

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'Email' " labelPlacement="floating" [errorText]="(emailFieldSingUp?.hasError('required') ? 
                ('LOGIN.ERRORS.EmailRequired' ) :
         (emailFieldSingUp?.hasError('pattern') ? ('LOGIN.ERRORS.EmailInvalid' ) : ''))" formControlName="email"
              type="email" maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">

          <ion-button color="danger" (click)="hideEmailPassword()" expand="block">
            <!-- {{ 'Cancel' | translate }} -->
            Cancelar
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" type="submit" [disabled]="!formResetPassword.valid">
            <!-- {{ 'Send' | translate }} -->
            Enviar
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
    } @else {
    <ion-segment [value]="segmentEmailPassword" class="ion-margin-bottom" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="login">
        <!-- <ion-label> {{ 'Login' | translate }} </ion-label> -->
        Iniciar sesión
      </ion-segment-button>
      <ion-segment-button value="singUp">
        <!-- <ion-label>{{ 'Register' | translate }}</ion-label> -->
        Registrarse
      </ion-segment-button>
    </ion-segment>


    @switch (segmentEmailPassword()) {
    @case ('login') {
    <form [formGroup]="formLogin" (ngSubmit)="onSubmitLogin($event)">

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'Email' " labelPlacement="floating" [errorText]="(emailFieldSingUp?.hasError('required') ? 
                    ('LOGIN.ERRORS.EmailRequired' ) :
             (emailFieldSingUp?.hasError('pattern') ? ('LOGIN.ERRORS.EmailInvalid' ) : ''))"
              formControlName="email" type="email" maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'Password' " labelPlacement="floating" [errorText]="(passwordFielSingUp?.hasError('required') ? ('LOGIN.ERRORS.PasswordRequired' ) : 
                  (passwordFielSingUp?.hasError('minlength') ? ('LOGIN.ERRORS.PasswordMinLength' ) : '')) "
              formControlName="password" type="password" maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-button (click)="showEmailPasswordTrue()" expand="block" fill="clear">
            <!-- {{ 'ResetPassword' | translate }} -->
            Restablecer contraseña
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" expand="block" [disabled]="!formLogin.valid">
            <!-- {{ 'Login' | translate }} -->
            Iniciar sesión
          </ion-button>
        </ion-col>
      </ion-row>

    </form>


    <ng-container *ngIf="showPasswordRestoreMessage; else elseTemplateShowPasswordRestoreMessage">

      <div class="message-error" [class.active]="showPasswordRestoreMessage()">
        <ion-label>
          <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
          <small>
            <!-- {{ 'PasswordRestoreMessage' | translate }} -->
            Su contraseña ha sido restablecida
          </small>
        </ion-label>
      </div>

    </ng-container>
    <ng-template #elseTemplateShowPasswordRestoreMessage>

      <div class="message-error" [class.active]="errorLogin">
        <ion-label color="danger">
          <ion-icon slot="start" name="alert-circle-outline" color="danger"></ion-icon>
          {{errorLogin}}
        </ion-label>
      </div>

    </ng-template>


    <div style="height: 1.5vh;"></div>
    }
    @case ('singUp') {
    <form [formGroup]="formSingUp" (ngSubmit)="onSubmitSingUp($event)">

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'Email' " labelPlacement="floating" [errorText]="(emailFieldSingUp?.hasError('required') ? 
                    ('LOGIN.ERRORS.EmailRequired' ) :
             (emailFieldSingUp?.hasError('pattern') ? ('LOGIN.ERRORS.EmailInvalid' ) : ''))"
              formControlName="email" type="email" maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'Password' " labelPlacement="floating"
              [errorText]="(passwordFielSingUp?.hasError('required') ? ('LOGIN.ERRORS.PasswordRequired' ) : 
                    (passwordFielSingUp?.hasError('minlength') ? ('LOGIN.ERRORS.PasswordMinLength' ) : '')) " formControlName="password" type="password"
              maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12">
          <ion-item>
            <ion-input [label]=" 'ConfirmPassword' " labelPlacement="floating"
              [errorText]="(rePasswordFielSingUp?.hasError('required') ? ('LOGIN.ERRORS.ConfirmPasswordRequired' ) :
                    (rePasswordFielSingUp?.value !== passwordFielSingUp?.value ? ('LOGIN.ERRORS.ConfirmPasswordNotMatch' ) : '')) " formControlName="rePassword" type="password"
              maxlength="100"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button type="submit" expand="block" [disabled]="!formSingUp.valid">
            <!-- {{ 'Register' | translate }} -->
            Registrarse
          </ion-button>
        </ion-col>
      </ion-row>

    </form>

    <div class="message-error" [class.active]="errorSingUp">
      <ion-label color="danger">
        <ion-icon slot="start" name="alert-circle-outline" color="danger"></ion-icon>
        {{errorSingUp}}
      </ion-label>
    </div>
    }
    }

    }


  </div>
  }

  </div><!-- End of container -->
</ion-content>