<ion-app>
  <ion-menu [swipeGesture]="false" side="start" menuId="main-menu" contentId="main-content" class="main-menu">

    <div [attr.data-theme]="theme()" style="height: 100%; width: 100%; overflow: auto">



      <div class="card">
        <div class="card-body pb-0">

          <div class="join join-vertical">
            <!-- Google -->
            <div class="btn btn-sm btn-primary  rounded-lg" (click)="loginWithGoogle()">
              <svg aria-label="Google logo" width="16" height="16" xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512">
                <g>
                  <path d="m0 0H512V512H0" fill="#fff"></path>
                  <path fill="#34a853" d="M153 292c30 82 118 95 171 60h62v48A192 192 0 0190 341"></path>
                  <path fill="#4285f4" d="m386 400a140 175 0 0053-179H260v74h102q-7 37-38 57"></path>
                  <path fill="#fbbc02" d="m90 341a208 200 0 010-171l63 49q-12 37 0 73"></path>
                  <path fill="#ea4335" d="m153 219c22-69 116-109 179-50l55-54c-78-75-230-72-297 55"></path>
                </g>
              </svg>
              Login with Google
            </div>

            <div class="btn btn-sm  btn-ghost rounded-lg m-1">
              Login with Email
            </div>
          </div>
        </div>
      </div>



      <ul class="menu w-full h-auto">

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/castle.png" />
              </div>
            </div>
            <div>
              <h4 class="prose-h1">Castillo</h4>
            </div>
          </div>
        </li>

        <div class="divider"></div>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/network-analysis.png" />
              </div>
            </div>
            <div>
              <h4>Análisis</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/problem-solving.png" />
              </div>
            </div>
            <div>
              <h4>Puzzles</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/check-list.png" />
              </div>
            </div>
            <div>
              <h4>Rutinas</h4>
            </div>
          </div>
        </li>



        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/crossed-checkered-flags.png" />
              </div>
            </div>
            <div>
              <h4>Puzzle Racer</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/tyrannosaurus-rex.png" />
              </div>
            </div>
            <div>
              <h4>Dino-Ajedrez</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/snake.png" />
              </div>
            </div>
            <div>
              <h4>Snake-Ajedrez</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/chess-board.png" />
              </div>
            </div>
            <div>
              <h4>Coordenadas</h4>
            </div>
          </div>
        </li>

 

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/strategy.png" />
              </div>
            </div>
            <div>
              <h4>Libros</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/podcast.png" />
              </div>
            </div>
            <div>
              <h4>Podcasts</h4>
            </div>
          </div>
        </li>


        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/timer.png" />
              </div>
            </div>
            <div>
              <h4>Reloj</h4>
            </div>
          </div>
        </li>

        <li>
          <div>
            <div class="avatar">
              <div class="rounded">
                <img class="size-10" src="assets/images/icons/32px/dices.png" />
              </div>
            </div>
            <div>
              <h4>960</h4>
            </div>
          </div>
        </li>


      </ul>
    </div>
  </ion-menu>
  <div id="main-content"></div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>