<ion-app>
  <ion-menu [swipeGesture]="false" side="start" menuId="main-menu" contentId="main-content">
    <ion-header class="ion-no-border">
      <ion-toolbar>

    Menu
     

      </ion-toolbar>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
     
    </ion-content>
  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
