<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <!-- <lib-chesscolate-lib></lib-chesscolate-lib> -->

  <h1 class="text-3xl font-bold underline">
    Hello world!
  </h1>

 
  <div class="mockup-code w-full">
    <pre data-prefix="$"><code>npm i daisyui</code></pre>
  </div>

  <div class="mockup-phone">
    <div class="mockup-phone-camera"></div>
    <div class="mockup-phone-display text-white grid place-content-center">It's Glowtime.</div>
  </div>
</ion-content>
