<ion-content [fullscreen]="true">

  <div [attr.data-theme]="theme()" class="main-container ion-padding"><!-- Start of container -->

    <div class="flex flex-row" >
      <button class="btn btn-circle" (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
    <div class="basis-full">
      <div class="skeleton w-full h-5">
        &nbsp;
      </div>
    </div>
    </div>

  <!-- <lib-chesscolate-lib></lib-chesscolate-lib> -->

  <app-header-slider></app-header-slider>
    <div class="ion-margin-top">
      <app-cards-block></app-cards-block>
    </div>
    <div class="ion-margin-top">
      <h6 class="ion-no-margin">Rutinas populares</h6>
      <app-common-slider></app-common-slider>
    </div>
    <div class="ion-margin-top">
      <h6 class="ion-no-margin">Podcast</h6>
      <app-common-slider></app-common-slider>
    </div>
    <div class="ion-margin-top">
      <app-big-card></app-big-card>
    </div>


 
  </div><!-- End of container -->

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
