<!-- en tu archivo .html -->
<div class="swiper-common-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    <div class="swiper-slide ">
      <div class="skeleton h-48">
        &nbsp;
      </div>
    </div>
    
  </div>

  <!-- Si quieres navegación -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-pagination"></div>
</div>
